.product {
  flex-basis: 20%;
  max-width: 200px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;

  &.view-line {
    max-width: unset;
    max-height: unset;
    align-items: center;
    display: grid;
    grid-template-columns: 150px 150px 1fr 1fr 1fr;
    justify-items: center;
  }
}

.product__title {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.product__image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
}

.product__body {
  padding-bottom: 5px;

  &.hidden {
    display: none;
  }
}

.product__item {
  margin: 0;
  font-size: 0.8rem;
}

.product__price {
  margin: 0;
  padding-bottom: 10px;
}

.product__buttons {
  display: flex;
}

.product__btn {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.product__btn:first-child {
  margin-right: 5px;
}
