// START nouislider styles

.slider,
.slider .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider .noUi-handle::before,
.slider .noUi-handle::after {
    display: none;
}


#slider-round {
  height: 10px;
}

#slider-round .noUi-connect {
  background: #c0392b;
}

#slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

// END nouislider styles

.price .filter-title {
  padding-bottom: 20px;
}
